@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 100px;
  }
  .gradient-border {
    border: 1px solid;
    border-image-source: linear-gradient(
      212.97deg #0bffff 8.98%,
      #fe1bf1 80.33%
    );
    border-image-slice: 1;
  }
}
